
.animate {
  opacity: 0;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}


.slide-left {
  animation-name: slideLeft;
}

@keyframes slideLeft {
  from {
    transform: translateX(-80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid orangered; 
  background-color: #f0f0f0;
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.slide-right {
  animation-name: slideRight;
}

@keyframes slideRight {
  from {
    transform: translateX(80px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.bttn{
  width: 100px;
  margin-top: 10px;
  margin-left: 60px;
  background-color:  black;
  color: white;
  border-radius: 10px;
  border: 1px solid yellow;
  padding: 5px;
}
.parent-container{
    display: flex;
    
    margin-top: 25px;
}
.icon-container a{
font-size: 20px;
color: black;
}
.icon-container:hover{
    background-image: linear-gradient(to top,violet,blue);
    animation-name: myAnimation;
    animation-duration: 4s;
}
.icon-container{
    padding: 15px;
    border-radius: 25%;
}
.icon-container:hover a{
    color: white;
}
@keyframes myAnimation {
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-30deg);
    }
    50%{
        transform: rotate(30deg);
    }
    75%{
        transform: rotate(-30deg);
    }
    100%{
        transform: rotate(30deg);
    }
    
}
.brse{
  display: flex;
  justify-content: space-around;
}


.delay-1 { animation-delay: 0.2s; }
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.6s; }
.delay-4 { animation-delay: 0.8s; }
